.row
  .col-md-6.col-md-offset-3
    .panel.panel-default
      .panel-heading
        %h3.panel-title Edit #{resource_name.to_s.humanize}
      .panel-body
        = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
          = devise_error_messages!
          .form-group
            = f.label :username
            = f.text_field :username, :autofocus => true, :class => 'form-control'
          .form-group
            = f.label :email
            = f.email_field :email, :class => 'form-control'
          - if devise_mapping.confirmable? && resource.pending_reconfirmation?
            %div
              Currently waiting confirmation for: #{resource.unconfirmed_email}
          .form-group
            = f.label :password
            = f.password_field :password, :autocomplete => "off", :class => 'form-control'
            %p.help-block Leave blank if you don't want to change it
          .form-group
            = f.label :password_confirmation
            = f.password_field :password_confirmation, :class => 'form-control'
          .form-group
            = f.label :current_password
            = f.password_field :current_password, :class => 'form-control'
            %p.help-block We need your current password to confirm your changes
          %div= f.submit "Update", :class => 'btn btn-primary'
.row
  .col-md-6.col-md-offset-3
    .panel.panel-danger
      .panel-heading
        %h3.panel-title Danger Zone
      .panel-body
        #{button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-danger'}
