= form_for @message, url: conversation_path  do |f|
  .row
    .col-md-4
      = label_tag :user_id, "Receiver"
    .col-md-8
      = f.select(:receiver_id, options_from_collection_for_select(@users, :id, :email))
  .row
    .col-md-4
      = label_tag :subject, "Subject"
    .col-md-8
      = f.text_field :subject
  .row
    .col-md-4
      = label_tag :body, "Body"
    .col-md-8
      = f.text_area :body
  .row
    .col-md-12
      = f.submit "Create"
