%nav.navbar.navbar-inverse.navbar-default.navbar-static-top{:role => "navigation"}
  .container
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle{"data-target" => "#coderbacon-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "#"} CoderBacon
    / Collect the nav links, forms, and other content for toggling
    #coderbacon-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li{class: params[:controller] == 'users' && "active"}
          %a{ :href=> users_path } Users
        -if user_signed_in?
          %li.dropdown{class: (params[:controller] == 'conversations' || params[:controller] == 'messages') && "active"}
            %a{ :href=> conversations_path } Conversations
      %ul.nav.navbar-nav.navbar-right
        -if user_signed_in?
          %li.dropdown
            %a.dropdown-toggle{ :href=>"#", :data => { :toggle=>"dropdown" }}="Hello, #{current_user.email}"
            %ul.dropdown-menu
              %li
                = link_to('Logout', destroy_user_session_path, :method => :delete)
              %li
                = link_to('Edit profile', edit_user_registration_path)
        -else
          %li
            = link_to('Login', new_user_session_path)
          %li
            = link_to('Register', new_user_registration_path)
