.navbar.navbar-inverse.navbar-fixed-top{ :role => "navigation" }
  .container
    .navbar-header
      %a.navbar-brand{ :href=>"#" } CoderBacon
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li.active
          %a{ :href=>"#" } Home
        %li.dropdown
          %a.dropdown-toggle{ :href=>"#", :data => { :toggle=>"dropdown" }} Conversations
          %ul.dropdown-menu
            %li
              %a{:href=> conversations_path} All
      %ul.nav.navbar-nav.navbar-right
        -if user_signed_in?
          %li.dropdown
            %a.dropdown-toggle{ :href=>"#", :data => { :toggle=>"dropdown" }}="Hello, #{current_user.email}"
            %ul.dropdown-menu
              %li
                = link_to('Logout', destroy_user_session_path, :method => :delete)
              %li
                = link_to('Edit profile', edit_user_registration_path)
        -else
          %li
            = link_to('Login', new_user_session_path)
          %li
            = link_to('Register', new_user_registration_path)
